# MERGE AND DATA MANIPULATION

https://s3.amazonaws.com/assets.datacamp.com/blog_assets/Python_Pandas_Cheat_Sheet_2.pdf
SORTING
ADD COLUMNS
ADD AND REMOVE COLS AND ROWS
GROUP BY
ADD DIFFERENTS SHEETS TO AN EXCEL WORKBOOK
APPEND
CONCAT,MERGE AND JOIN

#### SORTING

In [4]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
# sort df
df.sort_values( by = ['location','continent'], ascending = [False, True], inplace = True)
# sort column
df['population'].sort_values()
df.head(3)

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
26404,ZWE,Africa,Zimbabwe,2020-03-21,1.0,1.0,0.0,0.0,0.067,0.067,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49
26405,ZWE,Africa,Zimbabwe,2020-03-22,2.0,1.0,0.0,0.0,0.135,0.067,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49
26406,ZWE,Africa,Zimbabwe,2020-03-23,2.0,0.0,0.0,0.0,0.135,0.000,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49

#### ADD COLUMNS

In [19]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
# Agregamos una columna con el nÃºmero de mes
df['month'] = pd.DatetimeIndex(df['date']).month
df.head(2)

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,month
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,12
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,1

#### ADD AND REMOVE COLS AND ROWS

In [ ]:
# eliminar una col
df.drop(columns= 'column', inplace = True) 
# eliminar la fila del indice 4
df.drop( index = 4)
# borrar todas las filas que tengan el nombre perez en el indice
filt = df[ 'column'] == 'Perez'
df.drop(index = df.[filt].index)

#### GROUP BY

In [2]:
#Import libraries
from urllib.request import urlretrieve
import pandas as pd

# Assign url of file: url
url = 'https://covid.ourworldindata.org/data/owid-covid-data.csv'

# Save file locally
urlretrieve(url, r'C:\Users\Mumes\Desktop\owid-covid-data.csv')

df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
# Agregamos una columna con el nÃºmero de mes
df['month'] = pd.DatetimeIndex(df['date']).month
#filtramos por paÃ­ses
lista = ['Denmark','Ireland','Argentina', 'Brazil', 'Chile', 'Peru','Mexico', 'United States', 'France', 'Italy', 'Spain', 'United Kingdom', 'India', 'China', 'South Korea', 'Australia', 'New Zealand']
df_new = df[df['location'].isin(lista)]
#eliminamos el mes 12 por no ser relevante
lista_mes = [12]
df_final = df_new[~df_new['month'].isin(lista_mes)]

#agrupamos
groupby_location = df_final.groupby(['continent','location', 'month']).agg({'new_cases':'sum', 'new_deaths':'sum', 'population':'max'})  
groupby_location['%death_cases'] = groupby_location['new_deaths'] / groupby_location['new_cases']
groupby_location['%cases_pop'] = groupby_location['new_cases'] / groupby_location['population']
groupby_location['%death_pop'] = groupby_location['new_deaths'] / groupby_location['population']
#exportamos
groupby_location.to_excel(r'C:\Users\Mumes\Desktop\groupby_location.xlsx')

#### ADD DIFFERENTS SHEETS TO AN EXCEL WORKBOOK

In [29]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
groupby_location_excel = df.groupby(['continent','location']).agg({'new_cases':'sum', 'new_deaths':'sum'}) 
#pegar solapas de excel en dos hojas del mismo workbook
df2 = groupby_location.copy()
with pd.ExcelWriter(r'C:\Users\Mumes\Desktop\groupby_location_excel.xlsx') as writer:  
    groupby_location_excel.to_excel(writer, sheet_name='Sheet1')
    df2.to_excel(writer, sheet_name='Sheet2')

#### APPEND

In [40]:
import pandas as pd
df1 = pd.read_csv(r'C:\Users\Mumes\Desktop\owid-covid-data.csv')
df2 = df1.copy()
# appendis used to append rows of other df to the end of the given df. 
# Columns not in the original df are added as new columns and the new cells are populated with NaN value.
# ignore_index : If True, do not use the index labels(originales)> genera uno nuevo para todos los registros
df_completo = df1.append(df2, ignore_index = True)
df_completo.tail(2)

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
53496,NaN,NaN,International,2020-03-02,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53497,NaN,NaN,International,2020-03-10,696.0,-9.0,7.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### CONCAT, MERGE, JOINS

In [45]:

#CONCATENATING DFs
#pd.concat([df1, df2], axis = 1)  #pone Nan a las col que no tienen data. outer join
#pd.concat([df1, df2],keys[df1, df2], axis = â€˜columnsâ€™) #concatena por columna (df iguales)
#pd.concat([df1, df2], keys[df1, df2], axis = 0) #solo agrega filas (cuando los dfs son iguales). keys se usa para agregar un multi index y que podamos sabes de que dataset vienen los datos

#OUTER JOINS
#outer = union of index, no repetition, missing fields w Nan  pd.concat([df1,df2], axis =1, join = â€˜outerâ€™)
#INNER JOINS
#inner = intersection only common labels   pd.concat([df1,df2], axis =1, join = â€˜innerâ€™)

#MERGING
#pd.merge(df1, df2) es un inner q mantiene todas las filas en comun  (default join = inner)
#pd.merge(df1, df2, on= col en comun, how=â€™ leftâ€™) mantiene todo el df1 y agrega df2 

#JOIN
#df1.join(df2, how = left / rigth/ inner/ outer)